			<div id="peu">
				<div class="separador_peu">&nbsp;</div>
				<a href="https://www.facebook.com/rootdiamoons" target="_blank"><img src="{{ asset('images/retall_facebook.png') }}" alt="Root Diamoons Facebook" /></a>
				<a href="https://twitter.com/rootdiamoons" target="_blank"><img src="{{ asset('images/retall_twitter.png') }}" alt="Root Diamoons Twitter" /></a>
				<a href="http://www.myspace.com/rootdiamoons" target="_blank"><img src="{{ asset('images/retall_myspace.png') }}" alt="Root Diamoons Myspace" /></a>
				<a href="http://open.spotify.com/artist/7BNUk7Gaw629fGVmoMCNsE" target="_blank"><img src="{{ asset('images/retall_spotify.png') }}" alt="Root Diamoons Spotify" /></a>
				<a href="http://www.youtube.com/therootdiamoons" target="_blank"><img src="{{ asset('images/retall_youtube.png') }}" alt="Root Diamoons Youtube" /></a>
				<div class="signatura">
					Root Diamoons - {{ 'now' | date('Y') }}
				</div>
			</div>
