{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="video_home"></div>
    <div style="text-align: right;"><a href="http://www.youtube.com/watch?v=r0bWxYSfT2M">{{ 'veure_youtube' | trans }}</a></div>
    <div id="separador_video">&nbsp;</div>
    <div id="noticia">
        {{ 'destacat_1' | trans }}<br/>

        <div class="titol1">tot al seu temps</div>
        {{ 'destacat_2' | trans }}
    </div>
    {%  if nextConcerts is not empty %}
    <div id="concerts">
        <h2>{{ 'concerts' | trans }}</h2>
        <table>
        {%  for concert in nextConcerts %}
            <tr>
                <td class="destacat data_concert_home">{{ concert.data | date('d/m/y') }}</td>
                <td class="destacat lloc_concert_home">{{ concert.lloc }}</td>
                <td class="destacat mes_info"><a href="{{ path('concerts') }}">{{ 'mes_info' | trans }}.</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="text_concert_home" colspan="2">{{ concert.textCat }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.swfobject.1-1-1.min.js') }}"></script>
    <script src="{{ asset('lib/youTubeEmbed/youTubeEmbed-jquery-1.0-custom.js') }}"></script>
    <script src="{{ asset('js/video_home.js') }}"></script>
{% endblock %}