{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'llista_correu' | trans }}{% endblock %}

{% block content %}
    <div id="llista_correu" class="primer_bloc ultim_bloc">
        <h2>{{ 'llista_correu' | trans }}</h2>
        <div id="llista_correu_text">

            {{ 'correu_info' | trans }}
            <br />
            <br />

            {{ 'correu_info2' | trans }}
            <br />
            <br />

            {{ form_start(subscribeForm, {'attr': {'novalidate': 'novalidate'}}) }}
                <table>
                    <tr>
                        <td class="destacat llista_accio">
                            {{ form_label(subscribeForm.email) }}
                        </td>
                        <td class="destacat llista_input">
                            {{ form_widget(subscribeForm.email) }}
                        </td>
                        <td class="destacat llista_submit">
                            -{{ form_widget(subscribeForm.send) }}
                        </td>
                    </tr>
                </table>
            {#{{ form_errors(subscribeForm.email) }}#}
            {{ form_end(subscribeForm) }}

            {{ form_start(unsubscribeForm, {'attr': {'novalidate': 'novalidate'}}) }}
            <table>
                <tr>
                    <td class="destacat llista_accio">
                        {{ form_label(unsubscribeForm.email) }}
                    </td>
                    <td class="destacat llista_input">
                        {{ form_widget(unsubscribeForm.email) }}
                    </td>
                    <td class="destacat llista_submit">
                        -{{ form_widget(unsubscribeForm.send) }}
                    </td>
                </tr>
            </table>
            {{ form_end(unsubscribeForm) }}

            {{ form_errors(subscribeForm.email) }}
            {{ form_errors(unsubscribeForm.email) }}

            <div id="correu_nota">
                {{ 'correu_nota' | trans }}
            </div>
            {{ 'correu_adreces' | trans }}
        </div>
    </div>
{% endblock %}