{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'fotos' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/prettyphoto/css/prettyPhoto.css') }}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block content %}
    <div id="fotos" class="primer_bloc ultim_bloc">

        <h2>{{ 'fotos' | trans }}</h2>

        <div class="bloc_album">
            <div class="text_album">
                <span class="titol_album">Boca Nord</span> <span class="detall_album">- Presentació RD2014</span>
            </div>
            <img src="{{ asset('images/foto_ombra_dalt.png') }}" alt="" />
            <a href="{{ asset('images/albums/boca_nord/boca_nord_01.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014"><img src="{{ asset('images/albums/boca_nord/boca_nord_00.jpg') }}" alt="" /></a>
            <img src="{{ asset('images/foto_ombra_baix.png') }}" alt="" />
            <div class="llista_album">
                <a href="{{ asset('images/albums/boca_nord/boca_nord_02.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_02</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_03.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_03</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_04.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_04</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_05.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_05</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_06.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_06</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_07.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_07</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_08.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_08</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_09.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_09</a>
                <a href="{{ asset('images/albums/boca_nord/boca_nord_10.jpg') }}" rel="prettyPhoto[boca_nord]" title="Boca Nord - Presentació RD2014">boca_nord_10</a>
            </div>
            <div class="fotograf">{{ 'fotos_autor' | trans }} Maria Olivella</div>
            <div class="veure_album"><a href="#" data-album="boca_nord">{{ 'veure_album' | trans }}</a></div>
        </div>

        <div class="bloc_album">
            <div class="text_album">
                <span class="titol_album">Tot al seu temps</span> <span class="detall_album">- Cafè del Centre</span>
            </div>
            <img src="{{ asset('images/foto_ombra_dalt.png') }}" alt="" />
            <a href="{{ asset('images/albums/tast/tast_01.jpg') }}" rel="prettyPhoto[tast]" title="Tot al seu temps - Cafè del Centre"><img src="{{ asset('images/albums/tast/tast_00.jpg') }}" alt="" /></a>
            <img src="{{ asset('images/foto_ombra_baix.png') }}" alt="" />
            <div class="llista_album">
                <a href="{{ asset('images/albums/tast/tast_02.jpg') }}" rel="prettyPhoto[tast]" title="Tot al seu temps - Cafè del Centre">tast_02</a>
                <a href="{{ asset('images/albums/tast/tast_03.jpg') }}" rel="prettyPhoto[tast]" title="Tot al seu temps - Cafè del Centre">tast_03</a>
                <a href="{{ asset('images/albums/tast/tast_04.jpg') }}" rel="prettyPhoto[tast]" title="Tot al seu temps - Cafè del Centre">tast_04</a>
                <a href="{{ asset('images/albums/tast/tast_05.jpg') }}" rel="prettyPhoto[tast]" title="Tot al seu temps - Cafè del Centre">tast_05</a>
                <a href="{{ asset('images/albums/tast/tast_06.jpg') }}" rel="prettyPhoto[tast]" title="Tot al seu temps - Cafè del Centre">tast_06</a>
                <a href="{{ asset('images/albums/tast/tast_07.jpg') }}" rel="prettyPhoto[tast]" title="Tot al seu temps - Cafè del Centre">tast_07</a>
            </div>
            <div class="fotograf">{{ 'fotos_autor' | trans }} Enya Rodríguez {{ 'i' | trans }} Marina Méndez</div>
            <div class="veure_album"><a href="#" data-album="tast">{{ 'veure_album' | trans }}</a></div>
        </div>

        <div class="bloc_album">
            <div class="text_album">
                <span class="titol_album">Rototom Sunsplash 2011</span> <span class="detall_album">- {{ 'amb_rico' | trans }}</span>
            </div>
            <img src="{{ asset('images/foto_ombra_dalt.png') }}" alt="" />
            <a href="{{ asset('images/albums/rototom/rototom_01.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011"><img src="{{ asset('images/albums/rototom/rototom_00.jpg') }}" alt="" /></a>
            <img src="{{ asset('images/foto_ombra_baix.png') }}" alt="" />
            <div class="llista_album">
                <a href="{{ asset('images/albums/rototom/rototom_02.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_02</a>
                <a href="{{ asset('images/albums/rototom/rototom_03.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_03</a>
                <a href="{{ asset('images/albums/rototom/rototom_04.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_04</a>
                <a href="{{ asset('images/albums/rototom/rototom_05.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_05</a>
                <a href="{{ asset('images/albums/rototom/rototom_06.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_06</a>
                <a href="{{ asset('images/albums/rototom/rototom_07.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_07</a>
                <a href="{{ asset('images/albums/rototom/rototom_08.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_08</a>
                <a href="{{ asset('images/albums/rototom/rototom_09.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_09</a>
                <a href="{{ asset('images/albums/rototom/rototom_10.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_10</a>
                <a href="{{ asset('images/albums/rototom/rototom_11.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_11</a>
                <a href="{{ asset('images/albums/rototom/rototom_12.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_12</a>
                <a href="{{ asset('images/albums/rototom/rototom_13.jpg') }}" rel="prettyPhoto[rototom]" title="Rototom Sunsplash 2011">rototom_13</a>
            </div>
            <div class="fotograf">{{ 'fotos_autor' | trans }} Maria Coll, Maria Vergé {{ 'i' | trans }} Jep Jorba</div>
            <div class="veure_album"><a href="#" data-album="rototom">{{ 'veure_album' | trans }}</a></div>
        </div>

        <div id="albums">
            <a href="http://www.facebook.com/rootdiamoons?sk=photos" target="_blank">
                <div>
                    {{ 'mira_albums' | trans }}
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/prettyphoto/js/jquery.prettyPhoto.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/photos.js') }}"></script>
{% endblock %}