{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'llista_correu' | trans }}{% endblock %}

{% block content %}
    <div id="llista_correu" class="primer_bloc ultim_bloc">
        <h2>{{ 'llista_correu' | trans }}</h2>

        <div id="llista_correu_text">
            {% if not error %}
                {{ 'confirm_subs' | trans | raw }}
                <em><strong>{{ email }}</strong></em><br />
                <br />
                <strong>{{ 'gracies' | trans }}</strong>
            {% else %}
                {{ 'error_subs' | trans | raw }}<br />
                <br />
            {% endif %}

            <div id="correu_nota">{{ 'correu_nota' | trans | raw }}</div>
            <p>
                {{ 'correu_adreces1' | trans | raw }}
            </p>
            <p>
                {{ 'correu_adreces2' | trans | raw }}
            </p>
        </div>
    </div>
{% endblock %}