{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'llista_correu' | trans }}{% endblock %}

{% block content %}
    <div id="llista_correu" class="primer_bloc ultim_bloc">
        <h2>{{ 'llista_correu' | trans }}</h2>

        <div id="llista_correu_text">
            {% if not error %}
                {{ 'confirm_unsubs' | trans }}
                <em><strong>{{ email }}</strong></em><br />
            {% else %}
                {{ 'error_unsubs' | trans }}<br />
            {% endif %}
            <br />
            <strong>{{ 'gracies' | trans }}</strong>

            <div id="correu_nota">{{ 'correu_nota' | trans }}</div>
            {{ 'correu_adreces' | trans }}
        </div>
    </div>
{% endblock %}