{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Root Diamoons - Videos{% endblock %}

{% block content %}
    <div id="videos" class="primer_bloc ultim_bloc">
        <h2>{{ 'videos' | trans }}</h2>
        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Rototom Sunsplash 2011</span> <span class="detall_video">- {{ 'amb_rico' | trans }}</span>
            </div>
            <div id="video_rototom"></div>
            <div style="text-align: right;">
                <a href="http://www.youtube.com/watch?v=1fdw7HXz80Y">{{ 'veure_youtube' | trans }}</a>
            </div>
        </div>
        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Tot al seu temps</span> <span class="detall_video">- {{ 'making_of' | trans }}</span>
            </div>
            <div id="video_tast"></div>
            <div style="text-align: right;">
                <a href="http://www.youtube.com/watch?v=r0bWxYSfT2M">{{ 'veure_youtube' | trans }}</a>
            </div>
        </div>
        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Other eyes</span> <span class="detall_video">- {{ 'presentacio_other_eyes' | trans }}</span>
            </div>
            <div id="video_othereyes"></div>
            <div style="text-align: right;">
                <a href="http://www.youtube.com/watch?v=L8uD1qRGspE">{{ 'veure_youtube' | trans }}</a>
            </div>
        </div>
        <div id="canal_youtube">
            <a href="http://www.youtube.com/therootdiamoons" target="_blank">
                <div>
                    <span id="canal_youtube_text_1">{{ 'entra_al_nostre' | trans }}</span><br />
                    <span id="canal_youtube_text_2">{{ 'canal_de_youtube' | trans }}</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.swfobject.1-1-1.min.js') }}"></script>
    <script src="{{ asset('lib/youTubeEmbed/youTubeEmbed-jquery-1.0-custom.js') }}"></script>
    <script src="{{ asset('js/videos.js') }}"></script>
{% endblock %}