{% extends 'layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'grup' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/band.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/prettyphoto/css/prettyPhoto.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="grup" class="primer_bloc ultim_bloc">

        <h2>{{ 'grup' | trans }}</h2>

        <img src="{{ asset('images/foto_ombra_dalt.png') }}" class="shadow_image" alt="" />
        <img src="{{ asset('images/foto_grup_2014.jpg') }}" class="max_width_image" alt="foto grup" />
        <img src="{{ asset('images/foto_ombra_baix.png') }}" class="shadow_image" alt="" />
        <div class="components_grup">
            <div class="component">
                <a href="{{ asset('images/grup/anna.jpg') }}" rel="prettyPhoto[grup]" title="Anna Olivella - {{ 'cantant' | trans }}" class="nom_component">Anna Olivella</a>
                <span class="instrument">{{ 'cantant' | trans }}</span>
            </div>
            <div class="component">
                <a href="{{ asset('images/grup/jep.jpg') }}" rel="prettyPhoto[grup]" title="Jep Jorba - {{ 'trombo' | trans }}" class="nom_component">Jep Jorba</a>
                <span class="instrument">{{ 'trombo' | trans }}</span>
            </div>
            <div class="component">
                <a href="{{ asset('images/grup/pau.jpg') }}" rel="prettyPhoto[grup]" title="Pau Garcia - {{ 'teclats' | trans }}" class="nom_component">Pau Garcia</a>
                <span class="instrument">{{ 'teclats' | trans }}</span>
            </div>
            <div class="component">
                <a href="{{ asset('images/grup/xavi.jpg') }}" rel="prettyPhoto[grup]" title="Xavi Casanovas - {{ 'trompeta' | trans }}" class="nom_component">Xavi Casanovas</a>
                <span class="instrument">{{ 'trompeta' | trans }}</span>
            </div>
            <div class="component">
                <a href="{{ asset('images/grup/toldra.jpg') }}" rel="prettyPhoto[grup]" title="Adrià Toldrà - {{ 'guitarra' | trans }}" class="nom_component">Adrià Toldrà</a>
                <span class="instrument">{{ 'guitarra' | trans }}</span>
            </div>
            <div class="component">
                <a href="{{ asset('images/grup/joan.jpg') }}" rel="prettyPhoto[grup]" title="Joan Llansana - {{ 'baix' | trans }}" class="nom_component">Joan Llansana</a>
                <span class="instrument">{{ 'baix' | trans }}</span>
            </div>
            <div class="component">
                <a href="{{ asset('images/grup/arnau.jpg') }}" rel="prettyPhoto[grup]" title="Arnau González - {{ 'saxo_tenor' | trans }}" class="nom_component">Arnau González</a>
                <span class="instrument">{{ 'saxo_tenor' | trans }}</span>
            </div>
            <div class="component">
                <a href="{{ asset('images/grup/marti.jpg') }}" rel="prettyPhoto[grup]" title="Martí Lázaro - {{ 'bateria' | trans }}" class="nom_component">Martí Lázaro</a>
                <span class="instrument">{{ 'bateria' | trans }}</span>
            </div>
            <div class="component">&nbsp;</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/prettyphoto/js/jquery.prettyPhoto.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/photos.js') }}"></script>
{% endblock %}