			<div id="peu">
				<div class="separador_peu">&nbsp;</div>
				<a href="https://www.facebook.com/rootdiamoons" target="_blank"><img src="{{ asset('images/retall_facebook.png') }}" alt="Root Diamoons Facebook" /></a>
				<a href="https://twitter.com/rootdiamoons" target="_blank"><img src="{{ asset('images/retall_twitter.png') }}" alt="Root Diamoons Twitter" /></a>
				<a href="https://www.instagram.com/rootdiamoons" target="_blank"><img src="{{ asset('images/retall_instagram.png') }}" alt="Root Diamoons Instagram" /></a>
				<a href="https://open.spotify.com/artist/7BNUk7Gaw629fGVmoMCNsE" target="_blank"><img src="{{ asset('images/retall_spotify.png') }}" alt="Root Diamoons Spotify" /></a>
				<a href="https://www.youtube.com/user/TheRootDiamoons" target="_blank"><img src="{{ asset('images/retall_youtube.png') }}" alt="Root Diamoons Youtube" /></a>
                <a href="{{ path('mailing_list') }}"><img src="{{ asset('images/retall_newsletter.png') }}" alt="Root Diamoons Mailing list" /></a>
				<div class="signatura">
					Root Diamoons - {{ 'now' | date('Y') }}
				</div>
			</div>
