{% extends 'layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'llista_correu' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/mailing_list.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="llista_correu" class="primer_bloc ultim_bloc">
        <h2>{{ 'llista_correu' | trans }}</h2>
        <div id="llista_correu_text">

            {{ 'correu_info' | trans | raw }}
            <br />
            <br />

            {{ 'correu_info2' | trans({'%link%': '<a href="mailto:' ~ info_address ~ '">', '%info_address%': info_address, '%endlink%': '</a>'}) | raw }}
            <br />
            <br />

            {{ form_start(subscribeForm, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="destacat mailing_list_form">
                <div class="llista_accio">
                    {{ form_label(subscribeForm.email) }}
                </div>
                <div class="llista_input">
                    {{ form_widget(subscribeForm.email) }}
                </div>
                <div class="llista_submit">
                    <span>-</span>{{ form_widget(subscribeForm.send) }}
                </div>
            </div>
            {{ form_end(subscribeForm) }}

            {{ form_start(unsubscribeForm, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="destacat mailing_list_form">
                <div class="llista_accio">
                    {{ form_label(unsubscribeForm.email) }}
                </div>
                <div class="llista_input">
                    {{ form_widget(unsubscribeForm.email) }}
                </div>
                <div class="llista_submit">
                    <span>-</span>{{ form_widget(unsubscribeForm.send) }}
                </div>
            </div>
            {{ form_end(unsubscribeForm) }}

            {{ form_errors(subscribeForm.email) }}
            {{ form_errors(unsubscribeForm.email) }}

            {% include 'mailing_list_note.html.twig' %}
        </div>
    </div>
{% endblock %}