{% extends 'layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'musica' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/music.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="discografia" class="primer_bloc">

        <h2>{{ 'discografia' | trans }}</h2>

        <div class="disc">
            <div class="caratula_disc">
                <img src="{{ asset('images/caratula_439.jpg') }}" alt="439" />
                <div class="links_disc">
                    {% for platform in platforms.439 %}
                        <a href="{{ platform.url }}" target="_blank">{{ platform.name }}</a>{% if not loop.last %} / {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="detalls_disc">
                <div class="destacat">
                    <div class="titol_disc">439</div> <div class="any_disc">{{ 'autoeditat' | trans }}, 2020</div>
                </div>
                <div class="llsita_cancons">
                    1. Dies<br />
                    2. Fora d'Escena<br />
                    3. Sandaru<br />
                    4. No Tens Dret a Dir No a una Cançó Així<br />
                    5. La Partida<br />
                    6. Berimbau
                </div>
                <div class="text_disc">
                    {{ 'text_439' | trans }}
                </div>
                <div class="signatura">Root Diamoons</div>
            </div>
        </div>

        <div class="disc">
            <div class="caratula_disc">
                <img src="{{ asset('images/caratula_facil.jpg') }}" alt="Fàcil" />
                <div class="links_disc">
                    {% for platform in platforms.facil %}
                        <a href="{{ platform.url }}" target="_blank">{{ platform.name }}</a>{% if not loop.last %} / {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="detalls_disc">
                <div class="destacat">
                    <div class="titol_disc">Fàcil</div> <div class="any_disc">La Panchita Records, 2016</div>
                </div>
                <div class="llsita_cancons">
                    1. Desafiant La Realitat<br />
                    2. Darrer Intent<br />
                    3. Renunciar<br />
                    4. Canvi d'Època<br />
                    5. Cada Nit<br />
                    6. Pastime Paradise
                </div>
                <div class="text_disc">
                    {{ 'text_facil' | trans }}
                </div>
                <div class="signatura">Root Diamoons</div>
            </div>
        </div>

        <div class="disc">
            <div class="caratula_disc">
                <img src="{{ asset('images/caratula_totalseutemps.jpg') }}" alt="Tot al seu temps" />
                <div class="links_disc">
                    {% for platform in platforms.tast %}
                        <a href="{{ platform.url }}" target="_blank">{{ platform.name }}</a>{% if not loop.last %} / {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="detalls_disc">
                <div class="destacat">
                    <div class="titol_disc">Tot al seu temps</div> <div class="any_disc">Brixton Records, 2012</div>
                </div>
                <div class="llsita_cancons">
                    1. Introduint<br />
                    2. Hittin' the ground <span class="colab">{{ 'amb' | trans }} Mr. T-bone (The Bluebeaters)</span><br />
                    3. Catalan flavour – interludi <span class="colab">{{ 'amb' | trans }} Paul Carter (Intensified)</span><br />
                    4. Tot al seu temps<br />
                    5. Saturday<br />
                    6. Not that easy <span class="colab">{{ 'amb' | trans }} David Hylliard (The Slackers)</span><br />
                    7. Taste of honey<br />
                    8. Your way<br />
                    9. Last drop<br />
                    10. Jim<br />
                    11. Climb the moon - interludi <span class="colab">{{ 'amb' | trans }} Marc Marcé</span><br />
                    12. Babuku <span class="colab">{{ 'amb' | trans }} Greg Lee (Hepcat)</span><br />
                    13. Latin RD Ska <span class="colab">{{ 'amb' | trans }} Lluc Casares</span><br />
                    14. Let me hold you tight <span class="colab">{{ 'amb' | trans }} Paul Carter (Intensified)</span><br />
                    15. Baby please<br />
                    16. Last instrumental
                </div>
                <div class="text_disc">
                    {{ 'text_tast' | trans }}
                </div>
                <div class="signatura">Larry ACR</div>
            </div>
        </div>

        <div class="disc">
            <div class="caratula_disc">
                <img src="{{ asset('images/caratula_withothereyes.jpg') }}" alt="With other eyes" />
                <div class="links_disc">
                    {% for platform in platforms.woe %}
                        <a href="{{ platform.url }}" target="_blank">{{ platform.name }}</a>{% if not loop.last %} / {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="detalls_disc">
                <div class="destacat">
                    <div class="titol_disc">With other eyes</div>&nbsp;&nbsp;<div class="any_disc">Silver Bullets (Brixton Records), 2008*</div>
                </div>
                <div class="llsita_cancons">
                    1. From Jamaica<br />
                    2. Rumble like a lion<br />
                    3. Other eyes<br />
                    4. I won't let you go<br />
                    5. Mary Ann<br />
                    6. Brass garden<br />
                    7. Maria<br />
                    8. Rhythm &amp; blues<br />
                    9. Swedish effect<br />
                    10. Root cats<br />
                    11. Irie festival<br />
                    12. Say bye bye<br />
                    13. Goin' home<br />
                    14. Early Laila
                </div>
                <div class="text_disc">
                    {{ 'text_woe' | trans | raw }}
                </div>
                <div class="signatura">Larry ACR</div>
                 <div class="nota_disc">
                    *{{ 'edicio_japo' | trans }}
                </div>
            </div>
        </div>
    </div>

    <div id="recopilatoris" class="ultim_bloc table">

        <h2>{{ 'recopilatoris' | trans }}</h2>

        {% for recop in recops %}

            <div class="recop">
                <div class="recop_cap">
                    <span class="recop_titol">{{ recop.nom }}</span><br />
                    <span class="recop_edita">{{ recop.edita }}, {{ recop.any }}</span>
                </div>
                <div class="recop_caratula">
                    <img src="{{ asset('images/recops/' ~ recop.caratula) }}" alt="{{ recop.nom }}" />
                </div>
                <div class="recop_tema">
                    <span class="recop_tema_label">{{ 'tema' | trans }}:</span> {{ recop.tema }}
                </div>
                <div class="recop_text">
                    {{ recop.id | trans }}
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}
