{% extends 'layout.html.twig' %}

{% block title %}Root Diamoons - {{ 'videos' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/videos.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="videos" class="primer_bloc ultim_bloc">

        <h2>{{ 'videos' | trans }}</h2>

        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Renunciar</span> <span class="detall_video">- {{ 'panchita' | trans }}</span>
            </div>
            <div id="video_renunciar" class="video">
                <iframe src="https://www.youtube-nocookie.com/embed/Dno5YU_w_PI?showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Canvi d'època</span> <span class="detall_video">- {{ 'panchita' | trans }}</span>
            </div>
            <div id="video_canviepoca" class="video">
                <iframe width="758" height="426" src="https://www.youtube-nocookie.com/embed/e_g2dqZtOgQ?showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Rototom Sunsplash 2011</span> <span class="detall_video">- {{ 'amb_rico' | trans }}</span>
            </div>
            <div id="video_rototom" class="video">
                <iframe width="758" height="426" src="https://www.youtube-nocookie.com/embed/1fdw7HXz80Y?showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Tot al seu temps</span> <span class="detall_video">- {{ 'making_of' | trans }}</span>
            </div>
            <div id="video_tast" class="video">
                <iframe width="758" height="426" src="https://www.youtube-nocookie.com/embed/r0bWxYSfT2M?showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="bloc_video">
            <div class="text_video">
                <span class="titol_video">Other eyes</span> <span class="detall_video">- {{ 'presentacio_other_eyes' | trans }}</span>
            </div>
            <div id="video_othereyes" class="video">
                <iframe width="758" height="569" src="https://www.youtube-nocookie.com/embed/L8uD1qRGspE?showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div id="canal_youtube">
            <a href="http://www.youtube.com/therootdiamoons" target="_blank">
                <div>
                    <span id="canal_youtube_text_1">{{ 'entra_al_nostre' | trans }}</span><br />
                    <span id="canal_youtube_text_2">{{ 'canal_de_youtube' | trans }}</span>
                </div>
            </a>
        </div>

    </div>
{% endblock %}